html {
  font-family: "Ubuntu Condensed", sans-serif;
  color: #fff;
}

body {
  background-image: url("../images/starfield.png");
  text-shadow: 1px 1px 29px rgba(255, 255, 255, .7);
  padding-left: 3em;
}

.banner-content {
  padding-top: 20em;
}

.btn {
  border: solid 2px;
  border-color: #b4fff4;
  color: #90ccc3;
  text-decoration: none;
  padding: .5em;
  padding-bottom: 1em;
  border-radius: 8px;
  background-color: transparent;
  transition: all 205ms ease-in;
}

.btn-hover {
  background-color: rgba(180, 255, 244, .2);
}

.btn-ghost {
  transition: all 200ms ease;
  position: relative;
  top: 0;
  color: #90ccc3;
  border: solid #b4fff4 2px;
  border-radius: 8px;
}

.btn-ghost:hover {
  background-color: rgba(180, 255, 244, .2);
  color: #90ccc3;
  border: solid 2px #b4fff4;
  transition: all 205ms ease;
}

.btn-ghost:focus {
  transition: all 205ms ease;
}

.btn:active {
  top: 1em;
  transform: translate(0, 3px);
}

.icon {
  transition: all 205ms ease-in;
}

.btn-ghost:hover .icon {
  transform: translate(0, -.5em);
}
